<!--
Adapted from CS340 Starter Application GitHub
Safonte, D & Curry, M (May 2023)
[Source] https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
[Source] https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
[Source] https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
[Source] https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
[Source] https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
-->

<!-- drivers.hbs -->

<!-- Navigation -->
<header>
        <h1 class="sitename">BMCR Reservation Management System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/reservations">Reservations</a>
            <a href="/drivers">Drivers</a>
            <a href="/cardinformation">Card Information</a>
            <a href="/vehicles">Vehicles</a>
            <a href="/branches">Branches</a>
            <a href="/paymentmethods">Payment Methods</a>
        </nav>
</header>

<!-- Display table and CRUD functionality -->
<h1>Drivers</h1>

<!-- Table displays results of the SELECT query -->
<table id="drivers-table">
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>License State Code</th>
            <th>License Number</th>
            <th>License Expiry Date</th>
            <th>Insurance Provider</th>
            <th>Insurance Policy Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr  data-value="{{this.Driver_ID}}">
            <td class="Driver_ID">{{this.Driver_ID}}</td>
            <td class="First_Name">{{this.First_Name}}</td>
            <td class="Last_Name">{{this.Last_Name}}</td>
            <td class="Date_of_Birth">{{this.Date_of_Birth}}</td>
            <td class="License_State_Code">{{this.License_State_Code}}</td>
            <td class="License_Number">{{this.License_Number}}</td>
            <td class="License_Expiry_Date">{{this.License_Expiry_Date}}</td>
            <td class="Insurance_Provider">{{this.Insurance_Provider}}</td>
            <td class="Insurance_Policy_Number">{{this.Insurance_Policy_Number}}</td>
            <td><button onClick="updateDriver({{this.Driver_ID}}); showButton('updateDriverInformation');" class="editButtons">Edit</button></td>
            <td><button onclick="deleteDriver({{this.Driver_ID}})" class="cancelButtons">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<hr>

<!-- Displays form for CREATE functionality -->
<button onclick="showAdd('Driver')" class="addButtons">Add a new Driver</button>
<button onClick="hideAdd('Driver')" class="cancelButtons">Cancel</button>
<div id="insertDriver" style="display:none">
    <br>
    <form id="addDriverForm">
        <legend><strong>Add a new Driver:</strong></legend>
            <fieldset>
                <label><strong>First Name:</strong></label><input type="text" id="insert_first_name" name="insert_first_name" required>
                <label><strong>Last Name:</strong></label><input type="text" id="insert_last_name" name="insert_last_name" required>
                <label><strong>Date of Birth:</strong></label><input type="date" id="insert_date_of_birth" name="insert_date_of_birth" required>
                <label><strong>License State Code:</strong></label><input type="text" id="insert_license_state_code" name="insert_license_state_code" required>
                <br><br>
                <label><strong>License Number:</strong></label><input type="text" id="insert_license_number" name="insert_license_number" required>
                <label><strong>License Expiry Date:</strong></label><input type="date" id="insert_license_expiry_date" name="insert_license_expiry_date" required>
                <label><strong>Insurance Provider:</strong></label><input type="text" id="insert_insurance_provider" name="insert_insurance_provider" required>
                <label><strong>Insurance Policy Number:</strong></label><input type="text" id="insert_insurance_policy_number" name="insert_insurance_policy_number" required>
            </fieldset>
            <button type="submit" class="addButtons">Add Driver</button>
    </form>
</div>

<!-- Displays form for UPDATE functionality -->
<section>
    <br>
    <form id="updateDriversForm" method="post">
        <legend><strong>Update Drivers Information:</strong></legend>
        <fieldset>
            <div class="updateDriver">
                <label for="updateDriver_ID"><strong>Driver ID:</strong></label>
                <input type="number" name="updateDriver_ID" id="updateDriver_ID" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateFirst_Name"><strong>First Name:</strong></label>
                <input type="text" name="updateFirst_Name" id="updateFirst_Name" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateLast_Name"><strong>Last Name:</strong></label>
                <input type="text" name="updateLast_Name" id="updateLast_Name" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateDate_of_Birth"><strong>Date of Birth:</strong></label>
                <input type="date" name="updateDate_of_Birth" id="updateDate_of_Birth" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateLicense_State_Code"><strong>License State Code:</strong></label>
                <input type="text" name="updateLicense_State_Code" id="updateLicense_State_Code" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateLicense_Number"><strong>License Number:</strong></label>
                <input type="text" name="updateLicense_Number" id="updateLicense_Number" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateLicense_Expiry_Date"><strong>License Expiry Date:</strong></label>
                <input type="date" name="updateLicense_Expiry_Date" id="updateLicense_Expiry_Date" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateInsurance_Provider"><strong>Insurance Provider:</strong></label>
                <input type="text" name="updateInsurance_Provider" id="updateInsurance_Provider" value="" required disabled>
            </div>
            <div class="updateDriver">
                <label for="updateInsurance_Policy_Number"><strong>Insurance Policy Number:</strong></label>
                <input type="text" name="updateInsurance_Policy_Number" id="updateInsurance_Policy_Number" value="" required disabled>
            </div>
        </fieldset>
        <button id="updateDriverInformation" style="display:none" class="addButtons">Update Driver Information</button>
    </form>
</section>
<footer>
    <p>&copy; 2023 Beaver Motors Car Rentals</p>
</footer>

<!-- Page scripts -->
<script src="./js/add_driver.js"></script>
<script src="./js/delete_driver.js"></script>
<script src="./js/update_drivers.js"></script>
<script src="./js/interactions.js"></script>